/* Required for full background image */
:root {
  --main-color: #4f66a7;
  --button-color: #4f66a7;
}

html,
body,
header,
#intro-section,
.jarallax {
  height: 100%;
}

@media (max-width: 740px) {

  html,
  body,
  header,
  #intro-section,
  .jarallax {
    height: 100vh;
  }
}

@media (max-width: 576px) {
  .sm-text {
    font-size: 3rem;
  }

  .sm-text2 {
    font-size: 1.5rem;
  }

  #skills img {
    width: 50%;
  }
}

#navigation {
  z-index: 20;
}

.top-nav-collapse {
  background-color: var(--main-color) !important;
}

.page-footer {
  background-color: #f7d27f;
}

.navbar:not(.top-nav-collapse) {
  background: var(--main-color) !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: var(--main-color) !important;
  }
}

mark {
  padding: 0.4rem 6rem;
  background-color: rgba(248, 192, 67, 0.7);
}

@media (max-width: 460px) {
  .display-2 {
    font-size: 4.5rem;
  }

  mark {
    padding-left: 35px;
    padding-right: 35px;
  }
}

/* .text-uppercase{
  font-family: 'Playfair Display', serif;
} */


.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}

.titleMessage .heading .main {
  font-size: 50px;
}

.titleMessage .heading .sub {
  font-size: 23px;
}

.color-text {
  color: black;
}

.btn-color {
  background-color: var(--button-color);
  color: white;
}

@media (min-width: 992px) {
  .project {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
}

.avatar {
  width: 20%;
}

.btn-floating {
  font-size: 2rem;
  border-radius: 50%;
  /* border-width: 3px; */
  line-height: 100%;
  padding: 10px;
  /* width: 100%; */
}

.text-black {
  font-size: 1.2rem;
}

.nav-link .fab {
  font-size: 1.35em;
}

.cv {
  margin-left: 6px;
  font-size: 1.35em;
  animation: wiggle 5s infinite
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);

  }

  70% {
    transform: rotate(0deg);

  }

  75% {
    transform: rotate(15deg);
    color: #f7d27f
  }

  95% {
    transform: rotate(-15deg);

  }

  100% {
    transform: rotate(0deg);
  }
}


h3,
p {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
  line-height: 180%;
}

h4+p {
  color: #000000;
  font-size: 1em;
}

.logo {
  max-width: 70%;
}

.btn-li {
  background-color: #0072b1;
}

.btn-github {
  background-color: #db4a39;
}

.btn-fb {
  background-color: #4267b2;
}

img {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

.wow {
  visibility: hidden;
}

.mask {
  cursor: default !important;
  pointer-events: none !important;
}

.mask:hover {
  pointer-events: none !important;
}