/* Required for full background image */
:root {
  --main-color: #464646;
  --button-color: #4f66a7;
}

html,
body,
header,
#intro-section,
.jarallax {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  #intro-section,
  .jarallax {
    height: 100vh;
  }
}

@media (max-width: 576px) {
  .sm-text {
    font-size: 3rem;
  }

  .sm-text2 {
    font-size: 1.5rem;
  }

  #skills img {
    width: 50%;
  }
}

.top-nav-collapse {
  background-color: var(--main-color) !important;
}
.page-footer {
  background-color: #f7d27f;
}

.navbar:not(.top-nav-collapse) {
  background: var(--main-color) !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: var(--main-color) !important;
  }
}

mark {
  padding: 0.4rem 6rem;
  background-color: rgba(248, 192, 67, 0.7);
}

@media (max-width: 460px) {
  .display-2 {
    font-size: 4.5rem;
  }
}

/* .text-uppercase{
  font-family: 'Playfair Display', serif;
} */

.color-text {
  color: black;
}

.btn-color {
  background-color: var(--button-color);
  color: white;
}

@media (min-width: 992px) {
  .project {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
}

.avatar {
  width: 20%;
}

.btn-floating {
  font-size: 2rem;
  border-radius: 50%;
  /* border-width: 3px; */
  line-height: 100%;
  padding: 10px;
  /* width: 100%; */
}

.text-black {
  font-size: 1.2rem;
}

.nav-link .fab {
  font-size: 1.35em;
}

.logo {
  max-width: 70%;
}

.btn-li {
  background-color: #0072b1;
}

.btn-github {
  background-color: #db4a39;
}

.btn-fb {
  background-color: #4267b2;
}

img {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

.wow {
  visibility: hidden;
}
.mask {
  cursor: default !important;
  pointer-events: none !important;
}
.mask:hover {
  pointer-events: none !important;
}
